.about {
    padding-top: 10%;
    // animation: fadeIn 1s;
    background-image: url('../assets/wave2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    .aboutContainer {
        @include flex(column);
        justify-content: center;
        align-content: center;
    }
    .aboutIcon {
        max-width: 25%;
        padding: 5%;
        border: 2px solid black;
        border-radius: 50%;
        align-self: center;
    }
}

@media (min-width: 800px) {
    .about {
        .aboutContainer {
            @include flex(row);
            justify-content: space-between;
        }
        .aboutIcon {
            align-self: left;
        }
        .aboutText {
            width: 70%;
        }
}
}