// remove base styles
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

// base styles

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
}

section {
    padding: 5% 0;
}

footer {
	flex-shrink: 0;
}

html {
	font-size: 125%;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

footer {
    background-color: $darkblue;
    text-align: center;
    padding: 2.5%;
    p {
        color: white;
        padding: 0;
    }
}