.contact {
    background-image: url("../assets/i-like-food.svg");
    .contactText {
        padding: 5%;
        background-color: $white;
        border: 2px solid $orangey;
        box-shadow: 10px -10px 0 $orangey;
    }
    hr {
        background: linear-gradient(
            to right, $white, $orangey, $white);
            border: 0;
            height: 3px;
    }

    form {
        @include flex(column);
        align-content: center;
        border: 3px solid $orangey;
        box-shadow: -10px 10px 0 $orangey;
        background-color: $white;
        margin: 2.5% 0;
        padding: 5% 0;
    }

    input, 
    textarea {
        width: 85%;
        padding: 5%;
        margin: 2.5% 0;
        border: none;
        border: 2px solid $grey;
        border-radius: 15px;
        background-color: $grey;
        &:focus {
            border: 2px solid $subBody;
        }
        &:required {
            box-shadow: none;
        }
    }
    button {
        background-color: $orangey;
        padding: 2.5%;
        width: 30%;
        border: 3px solid $white;
        border-radius: 15px;
        align-self: center;
    }
}