.contact {
    background-image: url("../assets/i-like-food.svg");
    .contactText {
        padding: 5%;
        background-color: $white;
        border: 2px solid $mainBody;
    }
    .professionalLinks {
        @include flex(row);
        justify-content: space-evenly;
    }
    a {
        display: inline-block;
    }
    .devicon,
    .fa-solid {
        font-size: 2rem;
        color: $subBody;
        transition: all 0.5s ease;
        &:hover,
        &:focus {
            color: $accent;
            transform: scale(1.1);
        }
    }

    form {
        @include flex(column);
        align-content: center;
        border: 3px solid $mainBody;
        background-color: $white;
        margin: 2.5% 0;
        padding: 5% 0;
    }

    input, 
    textarea {
        width: 85%;
        padding: 5%;
        margin: 2.5% 0;
        border: none;
        border: 2px solid $grey;
        background-color: $grey;
        &:focus {
            border: 2px solid $subBody;
        }
        &:required {
            box-shadow: none;
        }
    }
    button {
        color: $white;
        text-align: center;
        background-color: $accent;
        padding: 2.5% 5%;
        margin: 2.5%;
        border: 2px solid $subBody;
        align-self: center;
        transition: all 0.5s;
        &:hover,
        &:focus {
            background-color: $white;
            color: $accent;
        }
    }
}