header {
    // animation: fadeIn 1s;
    margin-top: 13%;
    .headerContainer{
        @include flex(column);
        overflow: hidden;
        position: relative;
    }

        img {
            width: 100%;
            height: auto;
            opacity: 0.5;
            object-fit: cover;
        }
    
    .headerText {
        @include flex(column);
        align-content: flex-start;
        width: 100%;
        position: absolute;
        bottom: 5%;
        margin-left: 5%;
    }

}

@media (min-width: 500px) {
    header {
        margin-top: 10%;
    }
}

@media (min-width: 800px) {

    header {
        margin-top: 5%;
    }
}