header {
    .headerContainer{
        @include flex(column);
        overflow: hidden;
    }
    .headerImg {
        img {
            width: 100%;
            height: auto;
        }
    }
    .headerText {
        @include flex(column);
        justify-content: center;
        padding: 5% 0;
        background-color: $grey;
        h1 {
            position: relative;
        }
        span {
            position: absolute;
            height: 2.5rem;
            width: 2.5rem;
            transform: rotate(10deg);
        }
    }


    h2 {
        animation: fadeIn 1s;
    }
}