nav {
    background-color: $primary;
    color: $brightAccent;
    padding: 5% 0;
    position: relative;
    .wrapper,
    .navBar {
        @include flex(row);
    }

    .wrapper {
        justify-content: space-between;
        align-items: center;
    }
    button {
        padding: 2.5%;
        border: none;
        background-color: $primary;
        color: $brightAccent;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        border-radius: 20%;
        &:hover,
        &:focus {
            background-color: $brightAccent;
            color: $primary;
        }
    }
    .hamburgerItems {
        position: absolute;
        bottom: -160%;
        right: -100%;
        display: block;
        text-align: center;
        li {
            background-color: rgba($color: $primary, $alpha: 0.6);
            padding: 10%;
        }
    }
    a {
        color: $brightAccent;
    }

}

.desktopNav {
    display: none;
}

