nav {
    background-color: $subBody;
    color: $neutral;
    padding: 5% 0;
    position: relative;
    .mobileNavContainer,
    .navBar {
        @include flex(row);
    }

    .mobileNavContainer {
        justify-content: space-between;
        align-items: center;
    }
    button {
        padding: 2.5%;
        border: none;
        background-color: $subBody;
        color: $neutral;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        border-radius: 20%;
        transition: all 0.3s ease-in-out;
        &:hover,
        &:focus {
            background-color: $neutral;
            color: $subBody;
        }
    }
    .hamburgerItems {
        position: absolute;
        bottom: -160%;
        right: -100%;
        display: block;
        text-align: center;
        li {
            background-color: rgba($color: $primary, $alpha: 0.6);
            padding: 10%;
        }
    }
    a, h4 {
        color: $neutral;
    }

}

.desktopNav {
    display: none;
}

