nav {
    padding: 3.5% 0;
    width: 100%;
    background-color: $white;
    position: fixed;
    border-bottom: 2px solid $grey;
    z-index: 20;

    a {
        display: inline-block;
        padding: 5% 0;
        color: $subBody;
        overflow: hidden;
        position: relative;
        &:after {
            content: '';
            opacity: 0;
            transform: translate3d(-100%, 0, 0);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $subBody;
            transition: all 0.8s;
        }
        &:hover,
        &:focus {
            &:after{
                transform: translate3d(0, 0, 0);   
                opacity: 1;
            }
        }
    }

    .navContainer,
    .navBar {
        @include flex(row);
    }

    .navContainer {
        justify-content: space-between;
        position: relative;
    }

    .menu {
        @include flex(column);
        position: fixed;
        transform: translateX(150%);
        transition: transform 0.5s linear;
        top: 0;
        right: 0;
        background-color: $grey;
        width: 100%;
        text-align: center;
        // position margins according to h4 font-size + padding
        margin-top: calc(1rem + 11%);
        z-index: 20;
        li {
            padding: 5%;
        }
        a &:after {
            height: 1.5px;
        }
    }

    ul.showMenu {
        transform: translateX(0);
    }

    .hamburgerButton {
        position: relative;
        right: 0;
        width: 50px;
        cursor: pointer;
        background-color: inherit;
        border: none;
        box-shadow: none;
        transition: all 0.5s;
        &:hover, &:focus {
            transform: scale(1.1);
        }
    }

    .bar {
        display: block;
        width: 60%;
        height: 4px;
        background-color: $subBody;
        border-radius: 5px;
        margin: 0 auto 7.5%;
        transition: all 0.3s linear;
        transform-origin: left center;
    }

    .barOne, .barThree {
        transform: rotate(0);
    }

    .barTwo {
        opacity: 1;
    }

    .open {
        .barOne {
            transform: rotate(45deg) translateY(-5px) translateX(-2.5px);
        }
        .barTwo {
            opacity: 0;
        }
        .barThree {
            transform: rotate(-45deg);
        }
    }

    }


// MEDIA QUERIES

@media (min-width: 650px) {
    nav {
        a {
            padding: 0;
        }
        .hamburgerButton {
            display: none;
        }
        .menu {
            @include flex(row);
            position: static;
            transform: none;
            background-color: inherit;
            justify-content: flex-end;
            width: 75%;
            margin-top: 0;
            li {
                padding: 0 5%;
            }
        }
        .homeLink {
            padding: 0;
        }
    }
}
