.projects {
    @include flex(column);
    animation: fadeIn 1.5s;
    padding-top: 10%;

    .projectLinks {
        @include flex(row);
        justify-content: space-evenly;
    }

    .projectItem {
        @include flex(column);
        padding: 5% 0;
        margin: 2.5% 0;
    }
    
    .projectImg {
        margin: 0 auto;
    }

    .projectBlurb {
        margin: 5% 0;
    }

    .projectSkills {
        text-transform: uppercase;
    }

    .projectLink {
        color: $mainBody;
        padding: 4% 2.5%;
        text-transform: uppercase;
        border: 2px solid $subBody;
        transition: all 0.5s ease;
        &:hover {
            background-color: $darkblue;
            color: $white;
            border: 2px solid $mainBody;
        }
    }
}