.projects {
    @include flex(column);
    // animation: fadeIn 1.5s;
    // padding-top: 10%;

    .projectLinks {
        @include flex(row);
        justify-content: center;
    }

    .projectItem {
        @include flex(column);
        padding: 2.5% 0;
        // margin: 2.5% 0;
    }
    
    .projectImg {
        margin: 0 auto;
    }

    .projectBlurb {
        margin: 5% 0;
    }

    .projectSkills {
        text-transform: uppercase;
        text-align: center;
    }

    .projectLink {
        color: $white;
        background-color: $accent;
        padding: 3% 2%;
        text-transform: uppercase;
        border: 2px solid $subBody;
        transition: all 0.5s ease;
        margin: 0 1%;
        &:hover {
            background-color: $white;
            color: $mainBody;
            border: 2px solid $mainBody;
        }
    }
}

@media (min-width: 800px) {
    .projects {
        .projectItem {
            @include flex(row);
            justify-content: space-between;
            &:nth-child(even) {
                @include flex(row-reverse);
            }
        }
        .projectImg {
            width: 30%;
            align-self: center;
        }
        .projectBlurb {
            width: 60%;
        }
    }
}