.skills {
    animation: fadeIn 1s;
    position: relative;
    &::after {
        @include after('../assets/leaf.svg');
        bottom: -10%;
        right: 0;
        height: 6rem;
        width: 100%;
        background-repeat: repeat-x;
        opacity: 0.3;
        z-index: -1;
    }
    ul {
        @include flex(row);
        justify-content: space-between;
    }
    li {
        @include flex(column);
        align-content: center;
        text-align: center;
        padding: 5% 0;
        width: 30%;
    }
    .devicon,
    .fa-solid {
        font-size: 2rem;
        color: $subBody;
        transition: all 0.5s ease;
        &:hover,
        &:focus {
            color: $taupe;
            transform: scale(1.1);
        }
    }
}