.skills {

    ul {
        @include flex(row);
        justify-content: space-between;
    }
    li {
        @include flex(column);
        align-content: center;
        text-align: center;
        padding: 5% 0;
        width: 30%;
    }
    .devicon,
    .fa-solid {
        font-size: 2rem;
        color: $orangey;
        transition: all 0.5s ease;
        &:hover,
        &:focus {
            color: #994636;
            transform: scale(1.1);
        }
    }
}