body {
    color: $subBody;
}

h1,
h2 {
    font-family: $buttonFont;
}

h3,
h4,
p,
label {
    font-family: $bodyFont;
}

a,
button {
    font-family: $buttonFont;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    font-size: 2.2rem;
    font-family: $buttonFont;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 5%;
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    font-size: 0.8rem;
    padding: 2.5% 0;
    background-color: rgba($color: $white, $alpha: 0.5);
}

p {
    font-size: $baseFontSize;
    padding: 5% 0;
}

hr {
    background: linear-gradient(
        to right, $white, $mainBody, $white);
        border: 0;
        height: 2px;
        width: 60%;
        margin: 0 auto;
}

.subHead {
    font-size: $baseFontSize;
}