body {
    color: $subBody;
}

h1,
h2 {
    font-family: $buttonFont;
}

h3,
h4,
p,
label {
    font-family: $bodyFont;
}

a,
button {
    font-family: $buttonFont;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    font-size: 2.2rem;
    font-family: $buttonFont;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 5%;
}

h4 {
    font-size: 0.8rem;
}

p {
    font-size: $baseFontSize;
    padding: 5% 0;
}

hr {
    color: neutral;
    width: 6rem;
    margin-left: 1rem;
}

.subHead {
    font-size: $baseFontSize;
}