// colours

$brightAccent: #FDCA40;
$white: #fff;

$primary: #011638ff;
$secondary: #2e294eff;
$tertiary: #9055a2ff;
$quaternary: #d499b9ff;
$quinary: #e8c1c5ff;

$orangey: #f3c490;

$mainBody: #8a7967;
$subBody: #1f1e1f;
$grey: #ececec;
$neutral: #a69893;

$taupe: #775253;
$green: #95F2D9;
$darkblue: #32213A;

$burnt: #994636;


// fonts

$headingFont: "Bitter", serif;
$subheadFont: "Roboto", sans-serif;
$bodyFont: "Nunito", sans-serif;

$baseFontSize: 1rem;

@mixin highlight($color) {
	content: "";
	box-shadow: 0 0 10px $color;
	height: 0.5rem;
	width: 100%;
	position: absolute;
	z-index: -10;
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: wrap;
}

@mixin after($path) {
	content: "";
	display: block;
	background-image: url($path);
	background-repeat: no-repeat;
	position: absolute;
}

// animations

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* SCSS HEX */
// $light-cyan: #cee7e6ff;
// $steel-teal: #5e807fff;
// $shimmering-blush: #d88c9aff;
// $english-violet: #513b56ff;
// $maize-crayola: #e2c044ff;